@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}
.input {
  @apply w-full border border-gray-300 rounded-md px-4 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-yellow-400;
}




@media (max-width: 768px) {
  .dots-wrapper { margin-top: 18px; }
  .slick-dots li .dot-outer { width: 16px; height: 16px; }
  .slick-dots li .dot-inner { width: 6px; height: 6px; }
}

.promoslider-sections .slick-dots {
    position: absolute;
    bottom: -50px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
  visibility: hidden !important;
} 

#google_translate_element {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 9999;
}
.goog-te-gadget img {
 display:none;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  font-size: 0 !important;
}


#google_translate_element .goog-te-gadget-simple {
  display: inline-flex !important;
  align-items: center;
  padding: 7px 12px !important;
  border: none;
  border-radius: 6px !important;
  background: #fff !important;
  cursor: pointer;
  margin-top:6px;
  margin-right: 20px;
}

#google_translate_element .goog-te-gadget-simple a {
  display: flex !important;
  align-items: center;
  gap: 8px;
  font-size: 14px !important;
  font-weight: 500;
  color: #111827 !important;
  text-decoration: none !important;
}

.goog-te-menu-frame {
  border-radius: 8px !important;
  box-shadow: 0 10px 25px rgba(0,0,0,.15) !important;
}

.goog-te-menu2 {
  border: none !important;
  padding: 6px 0 !important;
}

.goog-te-menu2-item div::before {
  content: none !important;
  display: none !important;
}


.goog-te-menu2-item div,
.goog-te-menu2-item div span {
  color: #111827 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  text-decoration: none !important;
}


.cms-content h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.cms-content h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.8rem 0;
}

.cms-content h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0.6rem 0;
}
.cms-content h4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem 0;
}

.cms-content h5 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.8rem 0;
}

.cms-content h6 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.6rem 0;
}

.cms-content p {
  margin: 0.5rem 0;
}

.cms-content img {
  max-width: 100%;
  height: auto;
}